langchain
langgraph
langsmith
openai
tqdm
pandas
numpy
pytest
python-dotenv
pinecone-client
chromadb
sentence-transformers
ragas
pyyaml
dotenv
sec_edgar_downloader
nltk
beautifulsoup4
lxml
scikit-learn
faiss-cpu 
rank_bm25
cohere
